html {
    font-family:Inter,sans-serif !important;
}

body {
    background-image: url('img/background-hindia-mobile.png');
    font-family:Inter,sans-serif !important;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    scale: 100%;
}

.capsule {
    color: rgb(8, 49, 112);
}

.custom-rounded {
    border-radius: 30px !important;
}

.pill-zoom-hover {
    transition: all 0.3s ease-in-out;
}

.pill-zoom-hover:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
}

#profile-title {
    color: #083170;
}

#top-buttons.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.modal-content {
    border-radius: 1.5rem;
    object-position: 50% 50%;
    overflow: hidden;
    max-height: 100%;
    max-width: 520px;
    margin: auto;
}
.modal-header {
    border-bottom: none;
}
.modal-body {
    height: 243px;
    border-radius: 1.5rem;
    border-image-width: 1;
    max-width: 100%;
    padding: 0;
}
.share-header img {
    width: 100%;
    border-radius: 16px;
}
.share-icons {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}
.share-icon {
    width: 60px;
    flex: 0 0 auto;
    text-align: center;
    font-size: 0.75rem;
}
.share-icon img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}
.link-preview {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    border-radius: 12px;
}
.cta-btns {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
}
.footer-links {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    border-top: 1px solid #eee;
    color: gray;
}
.footer-links a:hover {
    color: black;
}

@media screen and (min-width: 768px) {
    html {
        /* Font Size */
        --profileDescriptionFontSize: 16px;
        --linkTextFontSize: 16px;
        --headerFontSize: 20px;
        --embedLinkTextFontSize: 16px;
        --signupSubmitTextFontSize: 16px;
        --linkHeaderFontSize: 16px;
        --bannerFontSize: 16px;

    }
    
    body {
        background-image: url('img/background-hindia-dekstop.png');
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 1315px) {
    body {
        background-image: url('img/background-hindia-dekstop.png');
        transition: background-size 1 ease-in-out;
        background-size: 100% 137%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .modal-content {
        border-radius: 24px;
        object-position: 50% 50%;
        overflow: hidden;
        width: 520px;
        height: 685px;
        margin: auto;
    }
}