body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hr-card {
    width: 92.5%;
    margin-left: 0;
    border-top: 3px solid black;
}

.hr-card-bottom {
    width: 90%;
    margin-left: 0;
    border-top: 3px solid black;
}

.responsive-text {
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
}